$primary: #FFFF00;
$secondary: #e69e03;
.menu {
    // background: linear-gradient(to right, #e69b00, #f1ee8e);
    background: linear-gradient(to left top, blue, red);
}

//IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap.scss";
