@use '../custom' as *;

//we will use so many time => reuse
//GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, #e69b00, #ece75f);
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}